controlnet:
  symbol: controlnet
  type: controlnet
  find_unused_parameters: false
  args:
    image_size: 32 # unused
    in_channels: 4
    hint_channels: 3
    model_channels: 320
    attention_resolutions: [ 4, 2, 1 ]
    num_res_blocks: 2
    channel_mult: [ 1, 2, 4, 4 ]
    num_heads: 8
    use_spatial_transformer: True
    transformer_depth: 1
    context_dim: 768
    use_checkpoint: True
    legacy: False
